# PyPI packaging
bumpversion
twine

# Python development
ipython

# Python linting
autopep8
flake8

# Python
logbook

# Python testing
pytest
pytest-cov

# Static code analysis
bandit

# YAML linting
yamllint